* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

#slider {
    width: 100%;
    height: 60%;
}

.frecce {
    width: 5%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

#center {
    width: 90%;
    height: 100%;
    float: left;
}

#center img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

#right {
    justify-content: flex-end;
}

.fas {
    font-size: 50px;
}

#center img.active {
    display: block;
}
