* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0,36,16);
    background: linear-gradient(349deg, rgba(0,36,16,1) 22%, rgba(17,191,194,1) 60%, rgba(89,255,196,1) 100%);
}

.container {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

#slider {
    width: 100%;
    height: 60%;
}

.frecce {
    width: 5%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

#center {
    width: 90%;
    height: 100%;
    float: left;
    position: relative;
}

#center img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

#right {
    justify-content: flex-end;
}

.fiftypx{
    font-size: 50px;
}

#center img.active {
    display: block;
}

.pallini {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pallini i.active {
    color: white;
}
